<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160895715265-ar5sobu11ajk737uk6509bhb8nq2hupn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160895715265-ar5sobu11ajk737uk6509bhb8nq2hupn</string>
	<key>API_KEY</key>
	<string>AIzaSyDYjqG7jQm1tRjC55rqzqJw0ROuu1cXnsA</string>
	<key>GCM_SENDER_ID</key>
	<string>160895715265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ManthanVanani.IELTSEssayWriting</string>
	<key>PROJECT_ID</key>
	<string>ieltsessaywriting</string>
	<key>STORAGE_BUCKET</key>
	<string>ieltsessaywriting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160895715265:ios:b83941f9c2b790fcde5140</string>
</dict>
</plist>